body {
    background-color: #f8f9fa;
}
.container {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

.countdown {
    font-size: 1.5em;
    font-weight: bold;
}
.event-list-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
.heading {
    font-size: 2rem;
    font-weight: 600;
    color: #2980B9;
    text-align: center;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
}
.second-heading{
    font-size: 1.5rem;
    font-weight: 600;
    color: #2e4154;
 
}
.event-heading{
    font-size: 1.3rem ;
    font-weight: 500;
    color:#E74C3C;
    font-style: italic;
}
.countdown-time{
    font-size: 1.3rem;
    font-weight: 500;
    color: #27AE60;
}
.event-description{
    color: #7F8C8D;
}
.event-date{
color: #1A6EB1 ;
font-size: .9rem;
}
.add-event{
background-color:#1A6EB1;
color: #ffffff; 
}

.add-event:hover {
    background-color: #145A8C; 
    color: #ffffff;
  }

